<% if current_user.id == @user.id %>
  <% if @bookings.any? %>
    <% @bookings.each do |booking| %>
      <% if booking.tour.user_id == @user.id && booking.date >= Date.today %>
        <div class="col-md-4 d-flex justify-content-center align-items-center">
          <div class="">
            <div class="card-trip-guide-show m-3" style="border-radius: 15px">
              <div class="">
                <% if booking.tour.photo %>
                  <%= cl_image_tag booking.tour.photo.key, width: 175, height: 100, crop: :fill %>
                <% else %>
                  <%= image_tag("https://images.unsplash.com/photo-1502602898657-3e91760cbb34?q=80&w=2073&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", width: 175, height: 90, style: "object-fit: cover")  %>
                <% end %>
              </div>
              <div class="tourist-bought-bookings-info-user-show p-3">
                <div class="">
                  <div class="tourist-bought-bookings-infos-name">
                    <p><%= link_to booking.tour.name, tour_path(booking.tour) %></p>
                  </div>
                </div>
                <div class="mt-1 mb-1">
                  <p><%= booking.date %></p>
                  <% if booking.pax > 1 %>
                    <p><%= booking.pax %> people</p>
                  <% else %>
                    <p><%= booking.pax %> person</p>
                  <% end %>
                </div>
              </div>
              <div class="tourist-bought-bookings-info-user-show">
                <% if booking.status == "Pending" %>
                  <div class="d-flex justify-content-center ">
                    <%= link_to "Confirm", accept_tour_booking_path(booking.tour, booking), data: { turbo_method: :patch }, class: "btn btn-primary", style: "border-radius: 15px" %>
                    <%= link_to "Deny", reject_tour_booking_path(booking.tour, booking), data: { turbo_method: :patch }, class: "btn btn-danger", style: "border-radius: 15px" %>
                  </div>
                <% else %>
                  <div class="p-2 d-flex justify-content-center align-items-center text-center" style="background-color: #D5EEFF; border-radius: 15px">
                    <p><%= booking.status %></p>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <h2>You have no bookings pending approval.</h2>
  <% end %>
<% end %>
