<% if current_user.id == @user.id %>
  <% if @bookings.any? %>
    <% @bookings.each do |booking| %>
      <% if booking.tour.user_id == @user.id && booking.date < Date.today %>
        <% if booking.status == "Pending" || booking.status == "Confirmed" %>
          <% booking.status = "Completed" %>
        <% end %>
        <div class="col-4">
          <div class="card-trip m-3 position-relative">
            <%= cl_image_tag(booking.tour.photo.key, class: "card-trip-user-image") %>
            <% if booking.status == "Pending" %>
              <div class="d-flex justify-content-center align-items-center text-center" >
                <div class="overlay p-3 d-flex justify-content-center align-items-center text-center" >
                  <h5><%= link_to "Accept", accept_tour_booking_path(booking.tour, booking), data: { turbo_method: :patch } %></h5>
                </div>
                <div class="overlay-reject p-3 d-flex justify-content-center align-items-center text-center" >
                  <h5><%= link_to "Reject", reject_tour_booking_path(booking.tour, booking), data: { turbo_method: :patch } %></h5>
                </div>
                <div class="overlay-refund p-3 d-flex justify-content-center align-items-center text-center" >
                  <h5><%= link_to "Refund", refund_tour_booking_path(booking.tour, booking), data: { turbo_method: :patch } %></h5>
                </div>
              </div>
            <% else %>
              <div class="overlay p-3 d-flex justify-content-center align-items-center text-center" >
                <h5><%= booking.status %></h5>
              </div>
            <% end %>
            <div class="card-trip-infos d-flex justify-content-between">
              <div class="card-trip-description">
                <div>
                  <p><%= link_to booking.tour.name, tour_path(booking.tour), class:"card-link" %></p>
                  <p>Client: <%= link_to booking.user.first_name, user_path(booking.user), class:"card-link" %></p>
                  <p>Date: <%= booking.date %></p>
                </div>
              </div>
              <% if booking.status == "Confirmed" && Date.today >= booking.date %>
                <div class="d-flex justify-content-center align-items-center mb-1" >
                  <%= link_to "Declare No-show", no_show_tour_booking_path(booking.tour, booking), data: { turbo_method: :patch }, class: "btn btn-secondary" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <h2>You have no past bookings yet.</h2>
  <% end %>
<% end %>
