<h2>Reviews (<%= @user.guide_average_rating.round(1) %>)</h2>

<% if @reviews_guide.present? %>
  <div class="py-3">
      <% @reviews_guide.each do |review| %>
          <p><strong><%= review.booking.user.first_name %> said about <%= review.booking.tour.name %></strong></p>

          <%= render "shared/review_content", review: review %>
          <%= render "shared/review_stars", review: review %>

          <hr>
        <% end %>
  </div>
  <% else %>
    <p class="fw-light"> <%= @user.first_name %> has no reviews yet.</p>
  <% end %>
