
<% if current_user.id == @user.id %>
  <% if @user.bookings.any? %>
      <% @user.bookings.each do |booking| %>
      <div class="col-3">
        <div class="card-trip-user-show m-3">
          <% if booking.tour.photo %>
            <%= image_tag(booking.tour.photo)  %>
          <% else %>
            <%= image_tag("https://images.unsplash.com/photo-1502602898657-3e91760cbb34?q=80&w=2073&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") %>
          <% end %>
          <div class="card-trip-infos-user-show">
            <div>
              <p><%= link_to booking.tour.name, tour_path(booking.tour) %></p>
              <p><%= booking.tour.description %></p>
            </div>
            <h2 class="card-trip-pricing"><%= booking.tour.price %>€</h2>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% else %>
    <h1>You have no bookings yet!</h1>
    <h3>Get ready to explore the world.</h3>
    <%= link_to "Book a tour", root_path%>
  <% end %>
<% else %>
  <p>you are not authorized to view this user's bookings</p>
<% end %>
