<%# dark blue: #1B435D  %>
<%# medium blue: #78BBE6 %>
<%# light blue: #D5EEFF %>
<div class="row">
  <%# PERSONAL INFO (Left Side - Sticks to top when scrolling) %>
  <div class="col-4 p-4" id="profile">
    <div class="sticky-top">
      <div class="p-4 d-flex flex-column align-items-center" style="background-color: #78BBE6; border-radius: 15px">
        <div class="mb-4">
          <% if @user.photo.key? %>
            <%= cl_image_tag @user.photo.key, height: 300, width: 300, crop: :thumb, :radius => 150 %>
          <% else %>
            <%= image_tag "https://plus.unsplash.com/premium_photo-1661764174171-c29f85bd8a37?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", height: 300, width: 300, style: "border-radius: 150px; object-fit: cover" %>
          <% end %>
        </div>

        <div class="d-flex flex-column align-items-center mb-4">
          <h2><%= @user.first_name %> <%= @user.last_name %></h2>
          <% if @user.guide %>
            <h3>Tour Guide</h3>
          <% end %>
        </div>
        <div class="" id="profile-info">
          <p>Email: <%= @user.email %></p>
          <p>Speaks: <%= @user.language %></p>
          <p>About me: <%= @user.about_me %></p>
        </div>
      </div>
      <%# BUTTONS GO HERE %>
      <div class="p-4 d-flex align-items-center sticky-top justify-content-center" id="buttons">
        <% if current_user.id == @user.id %>
          <%= link_to "Edit Profile", edit_user_registration_path(@user), class: "btn btn-primary mb-2 me-2", style: "border-radius: 15px" %>
          <%= link_to "Delete Profile", user_registration_path(@user), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger mb-2 me-2", style: "border-radius: 15px" %>
        <% end %>
      </div>
    </div> <%# END of Sticky Profile Box %>
  </div> <%# END of Profile Column col-4 %>

  <%# BOOKINGS SECTION (Right Side) %>
  <div class="col-8 p-4 d-flex flex-column gap-4" id="bookings">
    <div class="row">
      <div class="col-12">

        <%# UPCOMING TOURS (Inside col-8) %>
        <div class="p-4" style="background-color: #D5EEFF; border-radius: 15px">
          <div class="d-flex flex-column align-items-center mb-4">
            <h2>Upcoming Tours</h2>
          </div>
          <div class="row d-flex flex-wrap justify-content-center">
            <%= render "tourist_bought_bookings" %>
          </div>
        <%# there's a div missing, but it is the only way that i works %>

        <%# PAST TOURS (Inside col-8) %>
        <div class="p-4 mt-4" style="background-color: #D5EEFF; border-radius: 15px">
          <div class="d-flex flex-column align-items-center mb-4">
            <h2>Past Tours</h2>
          </div>
          <div class="row d-flex flex-wrap justify-content-center">
            <%= render "tourist_past_bookings" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <%# END of First Row %>

<%# ONLY FOR THE GUIDE (Separate Full-Width Section) %>
<% if @user.guide %>
  <div class="row">
    <div class="col-12 p-4 mb-2" id="management" style="background-color: #1B435D; border-radius: 15px">
      <div class="d-flex justify-content-center align-items-center text-center">
        <h2>Booking Management</h2>
      </div>
      <div class="p-4 d-flex flex-wrap justify-content-center">
        <%= render "guide_booked_tours" %>
      </div>
    </div>
  </div> <%# END of Guide Booking Management %>
  <div class="row">
    <div class="col-12 p-4 mb-2" id="management" style="background-color: #1B435D; border-radius: 15px">
      <div class="d-flex justify-content-center align-items-center text-center">
        <h2>Past Bookings</h2>
      </div>
      <div class="p-4 d-flex flex-wrap justify-content-center">
        <%= render "guide_past_tours" %>
      </div>
    </div>
  </div> <%# END of Guide Booking Management %>
<% end %>
