<div class="container">
  <div class="row">
    <%# LEFT COLUMN (Profile - 4 columns) %>
    <div class="col-4 p-4 h-100" id="profile">
      <div class="sticky-top">
        <div class="p-4 d-flex flex-column align-items-center position-relative" id="profile-box">
          <% if current_user && current_user.id == @user.id %>
            <h1>
              <%= link_to content_tag(:i, "", class: "fa-solid fa-pencil position-absolute top-0 end-0 mt-3 me-3"), edit_user_registration_path(@user) %>
            </h1>
          <% end %>
          <div class="mb-4">
            <% if @user.photo.key? %>
              <%= cl_image_tag @user.photo.key, height: 300, width: 300, crop: :fill, class: "avatar-user-show" %>
            <% else %>
              <%= image_tag "https://plus.unsplash.com/premium_photo-1661764174171-c29f85bd8a37?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", height: 300, width: 300, class: "avatar-user-show" %>
            <% end %>
          </div>
          <div class="d-flex flex-column align-items-center mb-2">
            <h2><%= @user.first_name %> <%= @user.last_name %></h2>
            <% if @user.guide %>
              <h3>Tour Guide</h3>
            <% end %>
          </div>
          <div class="d-flex flex-column align-items-center" id="profile-info">
            <p><strong>Speaks:</strong> <%= @user.language %></p>
            <p><strong>About me:</strong> <%= @user.about_me %></p>
          </div>
          <% if current_user && current_user.id == @user.id %>
            <div class="p-4 d-flex flex-row align-items-center justify-content-between" id="buttons">
              <%= link_to "My Reviews", user_reviews_path(@user), class: "btn btn-secondary me-3" %>
              <%= link_to "Delete Profile", user_registration_path(@user), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-delete" %>
            </div>
          <% end %>
        </div>
      </div>
    </div> <%# END col-4 Profile %>

    <%# RIGHT COLUMN (8 columns for Booking + Management) %>
    <div class="col-8 p-4">
      <%# BOOKING SECTION %>
      <% if !user_signed_in? || (@user.guide && @user.id != current_user.id) %>
        <div class="row">
          <div class="col-12">
            <div>
              <div class="mb-2">
                <h2>Tours Provided</h2>
              </div>
              <div class="row d-flex flex-wrap justify-content-start">
                <%= render "tours_provided" %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div>
              <div class="mb-2">
                <h2>Reviews</h2>
              </div>
              <div class="row d-flex flex-wrap justify-content-start">
                <%= render "reviews" %>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <%# START OF UPCOMING TOURS %>
        <div class="row">
          <div class="col-12">
            <div>
              <div class="mb-2">
                <h2>Requested Tours</h2>
              </div>
              <div class="row d-flex flex-wrap justify-content-start">
                <%= render "tourist_bought_bookings" %>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div>
              <div class="mb-2">
                <h2>Past Tours</h2>
              </div>
              <div class="row d-flex flex-wrap justify-content-start">
                <%= render "tourist_past_bookings" %>
              </div>



        <%# END OF UPCOMING TOURS %>

        <%# START OF BOOKING MANAGEMENT %>
        <div class="row">
          <div class="col-12">
            <div>
              <div class="d-flex flex-row justify-content-between" >
                <h2>Booking Management</h2>
                <div class="mb-2">
                  <%= link_to "Create a new tour", new_tour_path, class: "btn btn-secondary" %>
                </div>
              </div>
                  <h4>These tours require your attention</h4>
              <div class="row d-flex flex-wrap justify-content-start">
                <%= render "guide_booked_tours" %>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div>
              <div class="mb-2">
                <h4>Your past tours</h4>
              </div>
              <div class="row d-flex flex-wrap justify-content-start">
                <%= render "guide_past_tours" %>
              </div>
            </div>
          </div>
        </div>
        <%# END OF BOOKING MANAGEMENT %>
      <% end %>
    </div> <%# END col-8 %>
  </div> <%# END row %>
</div> <%# END container %>
