<div class="row">
  <div class="col-4" style="background-color:rgba(179, 225, 255, 0.71);">
    <p>This is where the picture will be</p>
    <p>Name: <%= @user.first_name %></p> <!-- implement something here to show if they are a guide -->
    <p>Language: <%= @user.language %></p>
    <p>About me: <%= @user.about_me %></p>
    <p>email: <%= @user.email %></p>
  </div>

  <div class="col-8" style="background-color:rgba(255, 236, 225, 0.74);">
    <%= render "user_bookings" %>
  </div>
</div>
  <%# ONLY FOR THE GUIDE %>
<div class="row">
  <div class="col-4" style="background-color:rgba(255, 104, 217, 0.71);">
    <% if @user.guide && current_user.id == @user.id %>
      <h2>THESE ARE THE TOURS YOU NEED TO APPROVE</h2>
      <% @bookings.each do |booking| %>
        <p>---------------------------------------------</p>
        <p>Name of the tour: <%= booking.tour.name %></p>
        <p>Date: <%= booking.date %></p>
        <p>Client: <%= booking.user.first_name %></p>
        <p>N of People: <%= booking.pax %></p>
        <p>Status: <%= booking.status %></p>
        <%= link_to "Approve", accept_tour_booking_path(booking.tour, booking), data: { turbo_method: :patch } %>
        <%= link_to "Decline", reject_tour_booking_path(booking.tour, booking), data: { turbo_method: :patch } %>
      <% end %>
    <% end %>
  </div>
</div>
















<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<%= @user.first_name %>
<p>are they a guide?<%= @user.guide %></p>
<p>what language do they speak?<%= @user.language %></p>

<%= link_to "Edit", edit_user_registration_path(@user) %>
<%= link_to "Index", root_path %>
<%# BASIC LOGIC TO DISPLAY ONLY THE TOURS OF THE ACTIVE USER %>
<% if current_user.id == @user.id %>
  <% @user.bookings.each do |booking| %>
    <p><%= booking.tour.name %></p>
    <p><%= booking.date %></p>
    <p><%= booking.pax %></p>
  <% end %>
<% else %>
  <p>you are not authorized to view this user's bookings</p>
<% end %>
