<div class="container">
  <div class="row">
    <%# LEFT COLUMN (Profile - 4 columns) %>
    <div class="col-4 p-4" id="profile">
      <div class="sticky-top">
        <div class="p-4 d-flex flex-column align-items-center position-relative" id="profile-box">
          <% if current_user && current_user.id == @user.id %>
            <h1>
              <%= link_to content_tag(:i, "", class: "fa-solid fa-pencil position-absolute top-0 end-0 mt-3 me-3"), edit_user_registration_path(@user) %>
            </h1>
          <% end %>
          <div class="mb-4">
            <% if @user.photo.key? %>
              <%= cl_image_tag @user.photo.key, height: 300, width: 300, crop: :fill, class: "avatar-user-show" %>
            <% else %>
              <%= image_tag "https://plus.unsplash.com/premium_photo-1661764174171-c29f85bd8a37?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", height: 300, width: 300, class: "avatar-user-show" %>
            <% end %>
          </div>
          <div class="d-flex flex-column align-items-center mb-2">
            <h2><%= @user.first_name %> <%= @user.last_name %></h2>
            <% if @user.guide %>
              <h3>Tour Guide</h3>
            <% end %>
          </div>
          <div class="d-flex flex-column align-items-center text-center" id="profile-info">
            <div class="mb-3 mt-2">
              <h4>Speaks:</h4>
              <h6><%= @user.language %></h6>
            </div>
            <div class="mb-3">
              <h4>About me:</h4>
              <h6><%= @user.about_me %></h6>
            </div>
          </div>
          <% if current_user && current_user.id == @user.id %>
            <div class="p-2 d-flex flex-row align-items-center justify-content-between" id="buttons">
              <%= link_to "My Reviews", user_reviews_path(@user), class: "btn btn-secondary me-3" %>
              <%= link_to "Delete Profile", user_registration_path(@user), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-delete" %>
            </div>
          <% end %>
        </div>
      </div>
    </div> <%# END col-4 Profile %>

    <%# RIGHT COLUMN (8 columns for Booking + Management) %>
    <div class="col-8 p-4">
      <%# BOOKING SECTION %>
      <% if !user_signed_in? || (@user.guide && @user.id != current_user.id) %>
        <div class="row">
          <div class="col-12">
            <div>
              <div class="mb-2">
                <h2>Tours Provided</h2>
              </div>
              <hr>
              <div class="row d-flex flex-wrap justify-content-start">
                <%= render "tours_provided" %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div>
              <div class="mb-2 mt-2">
                <h2>Reviews</h2>
              </div>
              <hr>
              <div class="row d-flex flex-wrap justify-content-start">
                <%= render "reviews" %>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <%# START OF UPCOMING TOURS %>
        <div class="row">
          <div class="col-12">
            <% if @user != current_user && !@user.guide %>
              <div>
                <div class="mb-2">
                  <h2>Reviews</h2>
                  <hr>
                  <div class="mb-2 mt-2">
                    <h4>What I think of these tours</h4>
                  </div>
                  <div class="row d-flex flex-wrap justify-content-start">
                    <%# ORSI RENDER USER REVIEWS ON THIS LINE %>
                  </div>
                </div>
              </div>
            </div>
            <% else %>
            <div>
              <div class="mb-2">
                <h2>Requested Tours</h2>
                <hr>
                <div class="mb-2 mt-2">
                  <h4>Get ready to explore the world</h4>
                </div>
              </div>
              <div class="row d-flex flex-wrap justify-content-start">
                <%= render "tourist_bought_bookings" %>
              </div>
            </div>
          </div>
          <% if @user.bookings.any? { |booking| booking.date < Date.today } %>
            <div class="col-12" id="to-review">
              <div>
                <div class="mb-2 mt-2">
                  <h4>Don't forget to leave a review</h4>
                </div>
                <div class="row d-flex flex-wrap justify-content-start">
                  <%= render "tourist_past_bookings" %>
                </div>
            <% end %>
            <% end %>



        <%# END OF UPCOMING TOURS %>

        <%# START OF BOOKING MANAGEMENT %>
        <% if current_user.id == @user.id && @user.guide %>
        <div class="row">
          <div class="col-12">
            <div>
              <div class="d-flex flex-row align-items-center justify-content-between mt-5">
                <h2 class="mb-2 mt-2">Booking Management</h2>
                <div class="d-flex align-items-center">
                  <%= link_to "Create a new tour", new_tour_path, class: "btn btn-secondary" %>
                </div>
              </div>
              <hr>
                <div class="mb-2 mt-2">
                  <h4>These tours require your attention</h4>
                </div>
              <div class="row d-flex flex-wrap justify-content-start">
                <%= render "guide_booked_tours" %>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div>
              <div class="mb-2 mt-2">
                <h4>Your past tours</h4>
              </div>
              <div class="row d-flex flex-wrap justify-content-start">
                <%= render "guide_past_tours" %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
        <%# END OF BOOKING MANAGEMENT %>
      <% end %>
    </div>
  </div>
</div>
</div>
</div>
</div>
