<div data-controller="remove">


  <%# <h2 id="search-bar-header" style="color: #1B435D;">FIND YOUR NEXT TOUR</h2> %>
  <%# <div class="col-12 col-lg-2"> %>
    <%# <div class="search-filter-items"> %>
      <%#= form_with(url: root_path, method: :get, local: true) do %>
        <%# <div class="d-flex"> %>
          <%#= text_field_tag :search, params[:search], class: "form-control", placeholder: "Find a tour" %>
          <%# <button data-action="click->remove#fire" class="btn btn-warning">Search</button> %>
        <%# </div> %>
      <%# end %>
    <%# </div> %>
  <%# </div> %>
  <% unless params[:search].present? %>
    <div class="mt-5" data-remove-target="removableElement">
      <%= render "banner" %>
    </div>
  <% end %>
  </div>



<div class="container">

  <div class="row mt-5">
    <% @tours.each do |tour| %>
      <div class="col-4">
        <div class="card-trip m-3">
          <%= cl_image_tag(tour.photo.key) %>
          <div class="card-trip-infos">
            <div class="card-trip-description">
              <div>
                <p><%= link_to tour.name, tour_path(tour), class:"card-link" %></p>
                <p><%= tour.description %></p>
              </div>
              <h2 class="card-trip-pricing"><%= tour.price %>€</h2>
            </div>
            <%= cl_image_tag(tour.user.photo.key, class: "card-trip-user avatar-bordered") %>
            <%# <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" /> %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
