<div data-controller="remove">


  <h2 id="search-bar-header" style="color: #1B435D;">FIND YOUR NEXT TOUR</h2>
  <div class="col-12 col-lg-2">
    <div class="search-filter-items">
      <%= form_with(url: root_path, method: :get, local: true) do %>
        <%= label_tag :search, "Search tours" %>
        <%= text_field_tag :search, params[:search], placeholder: "Type in a location" %>
        <%#= submit_tag "Search" %>
        <button data-action="click->remove#fire" class="btn btn-warning">Search</button>
      <% end %>
    </div>
  </div>
  <% unless params[:search].present? %>
    <div class="mt-5" data-remove-target="removableElement">
      <%= render "banner" %>
    </div>
  <% end %>
  </div>


<div class="container">
  <div class="row mt-5">
    <% @tours.each do |tour| %>
      <div class="col-4">
        <div class="card-trip m-3">
          <%= cl_image_tag(tour.photo.key) %>
          <div class="card-trip-infos">
            <div class="card-trip-description">
              <div>
                <p><%= link_to tour.name, tour_path(tour) %></p>
                <p><%= tour.description %></p>
              </div>
              <h2 class="card-trip-pricing"><%= tour.price %>€</h2>
            </div>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>




<p>
  <% if user_signed_in? %>
    <p> logged in as <%= current_user.first_name %></p>
    <%= link_to "My Account", user_path(current_user) %>
  <% else %>
    <p>not logged in</p>
  <% end %>
</p>
