<div class="container">

  <div class="row">

    <header class="header pt-3">
      <%= link_to "Back to Tours", root_path %>
    </header>

    <h1 class="py-4"><%= @tour.name %></h1>

    <div class="two-columns pb-4">
      <div class="tour-img">
        <%# <%= render @tour %>
          <%# <%= cl_image_tag tours.photo.key %>
        <%= image_tag "tour1.jpg", alt: "Paris Tour", width: 500 %>
      </div>

      <div id="tour-show-booking-form">
        <%# <% if user_signed_in? && !@user.guide %>
        <% if user_signed_in? %>

          <%= simple_form_for [@tour, @booking], url: tour_bookings_path(@tour) do |f| %>
            <%= f.input :date, as: :date, html5: true %>
            <%= f.input :pax, input_html: { type: 'number', step: 1 } %>
            <%= f.submit "BOOK THIS TOUR!!!", class: "btn btn-flat"%>
          <% end %>
          <%# <p><%= link_to "BOOK THIS TOUR!!!", new_tour_booking_path(@tour), class: "btn btn-primary" %>
          <%# </p>  %>
        <% else %>
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
        <% end %>

        <%# <h2>Book this Tour</h2> %>
        <%# <%= simple_form_for [@tour, @booking] do |f| %>
          <%# <%= f.input  :caught_on, html5: true, label: "When?" %>
          <%# <%= f.submit "Log in to book!", class: "btn btn-primary" %>
        <%# <% end %>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="tour-description">
      <h4 class="py-2">Tour Description</h4>
      <p><%= @tour.description %></p>
      <p><strong>Price of Tour: </strong><%= @tour.price %> €</p>
      <p><strong>Location: </strong><%= @tour.location %></p>
      <p><strong>Tour Guide: </strong><%= link_to "#{@tour.user.first_name} #{@tour.user.last_name}", user_path(@tour.user) %></p>
    </div>

  </div>

</div>
