<h1>PLACEHOLDER SHOW</h1>

<%= @tour.name %>

<%= @tour.description %>

<%= @tour.price %>

<%= @tour.location %>

<p><%= link_to "BOOK THIS TOUR!!!", new_tour_booking_path(@tour) %></p>

<p><%= link_to "Index", root_path %></p>
