<h1>PLACEHOLDER SHOW</h1>

<p><%= @tour.name %></p>

<p><%= @tour.description %></p>

<p><%= @tour.price %></p>

<p><%= @tour.location %></p>

<p><%= link_to "Tour Guide: #{@tour.user.first_name} #{@tour.user.last_name}", user_path(@tour.user) %></p>

<p><%= link_to "BOOK THIS TOUR!!!", new_tour_booking_path(@tour) %></p>

<p><%= link_to "Index", root_path %></p>
