<div class="container">

  <div class="row">

    <header class="header pt-3">
      <%= link_to "Back to Tours", root_path, class: "btn btn-back" %>
    </header>

    <h1 class="py-4"><%= @tour.name %></h1>

    <div class="two-columns pb-4">
      <div class="tour-img">
        <%= cl_image_tag(@tour.photo.key) %>
        <%# <%= image_tag "tour1.jpg", alt: "Paris Tour", width: 500 %>
      </div>

      <div id="tour-show-booking-form">
        <% if user_signed_in? %>
          <h2 class="py-3 text-center">Book This Tour</h2>
          <div class=" d-flex justify-content-center">
            <%= simple_form_for [@tour, @booking], url: tour_bookings_path(@tour) do |f| %>
              <%= f.input :date, as: :string, input_html: { data: { controller: "datepicker" } } %>
              <%= f.input :pax, input_html: { type: 'number', step: 1 }, label: "Number of participants" %>
              <div class="text-center">
                <%= f.submit "Book", class: "btn btn-flat mt-2 px-5"%>
              </div>
            <% end %>
          </div>
        <% else %>
        <h2 class="pt-5 pb-2 text-center">Book This Tour</h2>
        <div class="d-flex align-items-center justify-content-center" style="height: 50%;">
          <div class="d-grid">
            <%= link_to "Login", new_user_session_path, class: "btn btn-login-signup" %>
            <p class="p-1 mb-0 text-center">or</p>
            <%= link_to "Sign up", new_user_registration_path, class: "btn btn-login-signup" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="two-columns pb-4">
      <div class="tour-description">
        <h3 class="py-2">Tour Description</h3>
        <p><%= @tour.description %></p>
        <p><strong>Price of Tour: </strong><%= @tour.price %> € / person</p>
        <p><strong>Location: </strong><%= @tour.location %></p>
        <p class="text-popup"><strong>Tour Guide: </strong><%= link_to "#{@tour.user.first_name} #{@tour.user.last_name}", user_path(@tour.user) %></p>
      </div>

      <div data-controller="map"
        id='map'
        class="rounded-map"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
        data-map-markers-value="<%= @markers.to_json %>"
        style='width: 100%; height: 300px;'>
      </div>
    </div>
  </div>

</div>
