<div class="container">

  <%= link_to "< Back to Profile", user_path(@user), class: "btn btn-primary my-3" %>

  <h1 class="my-4">My Reviews</h1>

  <% if @reviews_user.present? %>
    <% @reviews_user.each do |review| %>
      <%# <strong><%= review.booking.tour.name %>
      <h3 class="my-3"><%= review.booking.tour.name %></h3>

      <%= render "shared/review_content", review: review %>
      <%= render "shared/review_stars", review: review %>

      <%= link_to "Delete Review", user_review_path(@user, review), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-delete" %>
      <hr>
        <%# <%= button_to "Destroy this restaurant", @restaurant, method: :delete %>
    <% end %>

  <% else %>
    <p class="fw-lighter fst-italic">You have no reviews yet. Write one for one of your previous tours here: </p>
    <%= link_to "Write Review", "#{user_path(@user)}#to-review", class: "btn btn-secondary my-3" %>
  <% end %>
<%# <p><%= @reviews_user.count() %>


</div>
